apiVerison: kustomize.config.k8s.io/vibeta1
kind: Kustomization

namespace: dentistdev

resources:
  - namespace.yaml
  - backend-deployment.yaml
  - backend-service.yaml
  - frontend-deployment.yaml
  - frontend-service.yaml
  - ingress.yaml
