name: CICD

on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["dev"]

jobs:
  backend:
    uses: ./.github/workflows/TemplateWorkflow.yml
    with:
      service_name: backend
      context: .
      dockerfile: backend/Dockerfile
      image_name: dentistdev-backend
      run_unit_tests: true
      run_integration_smoke: true

  frontend:
    uses: ./.github/workflows/TemplateWorkflow.yml
    with:
      service_name: frontend
      context: .
      dockerfile: frontend/Dockerfile
      image_name: dentistdev-frontend
      run_unit_tests: true
      run_integration_smoke: false
